<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neutralisation Reaction</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <span class="navbar-brand mx-3"><h1>Reaction-Game</h1></span>
      </div>
    </nav>
    <h1 class="heading p-3" id="header">Neutralisation Reaction</h1>
    <div class="container mw-100">
      <div class="reaction flex">
        <div class="prompt" id="display-control">
          <div class="main-prompt">
            <!-- <img id="hint" src='characterimages/4.png'/> -->
            <img id="hint-bulb" src="characterimages/3.png" />
            <div class="hint-dialog">
              <div id="text-hint" style="color: black; font-size: x-large">
                Hint
              </div>
              <img id="dialog" src="../../characterimages/dialog.png" />
            </div>
          </div>
        </div>
        <div class="main-reaction">
          <div class="reactants">
            <div class="reactantOne flex" id="reactant-one">
              <!-- <p draggable="true" class="sodium">
                <img src="../../assets/Na - final.png" />
              </p>
              <p draggable="true" class="oxygen">
                <img src="/assets/O - final.png" />
              </p>
              <p draggable="true" class="hydrogen">
                <img src="/assets/H - final.png" />
              </p> -->
            </div>
            <!-- <div class="reactantTwo flex">
              <h1 style="font-size: 100px">+</h1>
            </div> -->
            <div class="reactantTwo flex" id="reactant-two">
              <!-- <p draggable="true" class="hydrogen">
                <img src="/assets/H - final.png" />
              </p>
              <p draggable="true" class="chlorine">
                <img src="/assets/Cl - final.png" />
              </p> -->
            </div>
          </div>
          <div class="product flex">
            <div class="choice flex"></div>
            <div class="choice flex"></div>
          </div>
        </div>
      </div>
      <div class="tags flex">
        <div class="reactantTag">
          <h4 class="text-center pt-5">Reactants</h4>
        </div>
        <div class="productTag">
          <h4 class="text-center pt-5">Products</h4>
        </div>
      </div>
      <div class="flex submit">
        <button type="button" class="btn btn-success m-5" onclick="reset()">
          Reset
        </button>
      </div>
      <div class="flex submit">
        <button
          type="button"
          class="btn btn-success m-5"
          onclick="check()"
        >
          Submit
        </button>
      </div>
      <div class="flex submit">
        <button
          type="button"
          class="btn btn-success m-5"
          onclick="getHintById(1)"
        >
          Hint 1
        </button>
      </div>
      <div class="flex submit">
        <button
          type="button"
          class="btn btn-success m-5"
          onclick="getHintById(2)"
        >
          Hint 2
        </button>
      </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              Congratulations!!! User you have successfully completed
              neutralisation reaction.
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              onclick="changePage()"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <p>NaOh + HCL --> NaCL + H2O</p>
            <p>
              Na and CL are explosive and poisonous in nature but when they
              react together they form common salt which essential for cooking.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              onclick="changePage()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      // console.log(window.location.href.slice(46))
      var reactionId = window.location.href.slice(46);
      var products;
      var totalcount;
      var hintOpen = false; 
      function getReaction() {
        let queryData = {
          id: reactionId,
        };

        $.ajax({
          url: `/v1/reaction-id`,
          method: "get",
          async: false,
          data: queryData,
          success: (result, status, xhr) => {
            console.log(result);
            products = result.data[0].product;
            totalcount = result.data[0].count;
            let reactantData = result.data[0].reactant;
            let reactantOne = reactantData[0];
            let reactantTwo = reactantData[1];
            let reactantOnehtml = "";
            let reactantTwohtml = "";
            let reactantOneLength = reactantOne.content.length;
            for (let i = 0; i < reactantOneLength; i++) {
              reactantOnehtml += `
                <p draggable="true" class="${reactantOne.content[i].atom}">
                  <img src="http://localhost:5000/assets/${reactantOne.content[i].atom}.png" />
                </p>
                `;
            }
            $("#reactant-one").html(reactantOnehtml);
            let reactantTwoLength = reactantTwo.content.length;
            for (let i = 0; i < reactantTwoLength; i++) {
              reactantTwohtml += `
                <p draggable="true" class="${reactantTwo.content[i].atom}">
                  <img src="http://localhost:5000/assets/${reactantTwo.content[i].atom}.png" />
                </p>
                `;
            }
            $("#reactant-two").html(reactantTwohtml);
          },
          error: (e) => {
            console.log(e);
          },
        });
      }
      getReaction();
      var p = document.getElementsByTagName("p");
      for (var i of p) {
        i.addEventListener("dragstart", dragStart);
        i.addEventListener("dragend", dragEnd);
      }

      var choice = document.getElementsByClassName("choice");

      var dragItem = null;

      function dragStart() {
        dragItem = this;
        console.log(dragItem);
        setTimeout(() => (this.style.display = "none"), 0);
      }

      function dragEnd() {
        setTimeout(() => (this.style.display = "block"), 0);
        dragItem = null;
      }

      for (j of choice) {
        j.addEventListener("dragover", dragOver);
        j.addEventListener("dragenter", dragEnter);
        j.addEventListener("dragleave", dragLeave);
        j.addEventListener("drop", Drop);
      }

      function Drop() {
        this.append(dragItem);
      }

      function dragOver(e) {
        e.preventDefault();
        this.style.border = "2px dotted red";
      }

      function dragEnter(e) {
        e.preventDefault();
      }

      function dragLeave() {
        this.style.border = "none";
      }

      function check() {
        console.log(products);
        let choice = document.getElementsByClassName("choice");
        let choices = [];
        for (let i = 0; i < choice.length; i++) {
          choices.push(choice[i].children);
        }
        var reactant1 = choice[0].children;
        var reactant2 = choice[1].children;
        console.log(choice);
        let count = 0;
        try {
          for (let i = 0; i < products.length; i++) {
            var product = products[i].content;
            for (let j = 0; j < product.length; j++) {
              var atom = product[j];
              if (choices[i][j].className == atom.atom) {
                count++;
              }
            }
          }
          if (count == totalcount) {
            $("#myModal").modal("show");
          } else {
            console.log("Did it here")
            var errorText = "Oops! Please try again.";
            var hintText =
              "The first Product is used heavily in cooking. The second product is used in the production of soap.";
            $("#error").html(errorText);
            $("#hint").html(hintText);
          }
        } catch (error) {
          console.log(error);
        }
        // try {
        //   if (
        //     (reactant1[0].className == "sodium" &&
        //       reactant1[1].className == "chlorine") ||
        //     (reactant1[0].className == "chlorine" &&
        //       reactant1[1].className == "sodium")
        //   ) {
        //     // console.log(true);

        //     if (reactant2.length == 3) {
        //       if (
        //         reactant2[1].className == "oxygen" &&
        //         reactant2[0].className == "hydrogen" &&
        //         reactant2[2].className == "hydrogen"
        //       ) {
        //         $("#myModal").modal("show");
        //       }
        //     } else {
        //       var errorText = "Oops! Please try again.";
        //       var hintText =
        //         "Hint: The Second Product covers over 71% of the earth.";
        //       errorMessage(errorText);
        //       hint(hintText);
        //     }
        //   } else {
        //     var errorText = "Incorrect please try again.";
        //     var hintText =
        //       "Hint: The first Product is used heavily in cooking.";
        //     errorMessage(errorText);
        //   }
        // } catch (error) {
        //   console.log(error);
        //   var errorText = "Incorrect please try again.";
        //   var hintText = "Hint: The first Product is used heavily in cooking.";
        //   errorMessage(errorText);
        // }
      }

      function checkDisplacement() {
        let choice = document.getElementsByClassName("choice");
        var reactant1 = choice[0].children;
        var reactant2 = choice[1].children;
        console.log(choice);
        try {
          if (
            reactant1[0].className == "potassium" &&
            reactant1[1].className == "oxygen" &&
            reactant1[2].className == "hydrogen"
          ) {
            if (
              reactant2[0].className == "hydrogen" &&
              reactant2[1].className == "hydrogen"
            ) {
              alert("Correct");
            } else {
              alert("Incorrect. Please try again.");
            }
          } else {
            alert("Incorrect please try again.");
          }
        } catch (error) {
          alert("Incorrect please try again.");
        }
      }

      function checkDecomposition() {
        let choice = document.getElementsByClassName("choice");
        var reactant1 = choice[0].children;
        var reactant2 = choice[1].children;
        console.log(choice);
        try {
          if (
            reactant1[0].className == "calcium" &&
            reactant1[1].className == "oxygen"
          ) {
            if (
              reactant2[1].className == "carbon" &&
              reactant2[0].className == "oxygen" &&
              reactant2[2].className == "oxygen"
            ) {
              alert("Correct");
            } else {
              alert("Incorrect. Please try again.");
            }
          } else {
            alert("Incorrect please try again.");
          }
        } catch (error) {
          alert("Incorrect please try again.");
        }
      }

      function reset() {
        location.reload();
      }

      function changePage() {
        window.location = "http://localhost:5000/home-page";
      }

      function errorMessage(errorText) {
        var displayControl = document.getElementById("display-control");
        displayControl.style.display = "block";
        // var hint = document.getElementById("hint");
        document.getElementById("hint-char").style.display = "none";
        var hint = document.getElementById("error-char"); //bulb hint
        var dialog = document.getElementById("dialog");
        var textHint = document.getElementById("text-hint");
        textHint.innerHTML = errorText;
        hint.style.display = "block";
        dialog.style.display = "block";
        setTimeout(() => {
          displayControl.style.display = "none";
          hint.style.display = "none";
          dialog.style.display = "none";
        }, 5000);
      }

      function hint(hintText) {
        // console.log("Reached here");
        var displayControl = document.getElementById("display-control");
        displayControl.style.display = "block";
        // var hint = document.getElementById("hint");
        // document.getElementById("error-char").style.display = "none";
        // var hint = document.getElementById("hint-char"); //bulb hint
        var dialog = document.getElementById("dialog");
        var textHint = document.getElementById("text-hint");
        textHint.innerHTML = hintText;
        // hint.style.display = "block";
        dialog.style.display = "block";
        setTimeout(() => {
          console.log("here");
          displayControl.style.display = "none";
          // hint.style.display = "none";
          dialog.style.display = "none";
        }, 10000);
      }

      let getHintById = (hintNum) =>{
        let queryData = {
          id: reactionId,
        };
        $.ajax({
          url: `/v1/hint`,
          method: "get",
          async: false,
          data: queryData,
          success: (result, status, xhr) => {
            if(hintNum == 1){
              // console.log(result.data[0].hint1);
              hint(result.data[0].hint1);
              hintOpen = true;
            }
            else{
              
              hint(result.data[0].hint2);
            }
          },
          error: (e) => {
            console.log(e);
          },
        });
      }

      // getHintById();



    </script>
  </body>
</html>
