<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reaction-Game</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

    body {
      font-family: "Poppins", sans-serif !important;
      padding: 0;
      margin: 0;
      font-size: 14px;
    }
    .modal-content {
      background-color: #2c2e43;
      color: #fff;
      border-radius: 20px;
    }
  </style>
  <body>
    <!-- <div id="google_translate_element"></div> -->
    <div class="confetti-canvas">
    </div>
    <div class="heading">
      <div class="header text-center" class="mx-3">
        <a href="/home" style="text-decoration: none">
          <span class="navbar-brand mx-3 text-light">
            <h1>Reaction-Game</h1>
          </span>
        </a>
      </div>
      <div class="header text-center" id="reaction-type-heading">
        <h1 class="p-3">Displacement Reaction</h1>
      </div>
      <div class="support-buttons">
        <button type="button" class="btn btn-danger mx-3" onclick="reset()">
          <h4>Reset</h4>
        </button>
        <button type="button" class="btn btn-success mx-3" onclick="check()">
          <h4>Submit</h4>
        </button>
        <button
          type="button"
          class="btn btn-warning mx-3"
          onclick="getHintById()"
        >
          <h4>Hint</h4>
        </button>
        <button
          type="button"
          class="btn btn-light mx-3"
          onclick="getTutorial()"
        >
          <h4>Tutorial</h4>
        </button>
      </div>
    </div>
    <div
      class="mw-100"
      style="
        background: url('/images/lab-35op.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 45%;
      "
    >
      <div class="reaction flex">
        <div class="prompt" id="display-control">
          <div class="main-prompt">
            <img id="hint-bulb" src="/characterimages/3.png" />
            <div class="hint-dialog">
              <div id="text-hint" style="color: black; font-size: x-large">
                Hint
              </div>
              <img id="dialog" src="../../characterimages/dialog.png" />
            </div>
          </div>
        </div>
        <div class="main-reaction displacement">
          <div class="reactantTag">
            <h1 class="tag text-center pt-5">Reactants</h1>
          </div>
          <div class="reactants displacement-reactants">
            <div class="reactantOne flex" id="reactant-one"></div>
            <div class="reactantTwo flex" id="reactant-two"></div>
            <div class="reactantThree flex" id="reactant-three"></div>
          </div>
          <div class="productTag">
            <h1 class="tag text-center pt-5">Products</h1>
          </div>
          <div
            class="product flex displacement-products my-3"
            id="products-container"
          >
            <div class="choice product-choice flex"></div>
            <div class="choice flex"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-header">
              Congratulations!!! User you have successfully completed
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              onclick="changePage()"
            >
              <p class="text-light">x</p>
            </button>
          </div>
          <div class="modal-body">
            <!-- 
              <p id="reaction-modal">NaOh + HCL  NaCL + H2O</p>
            -->
            <p id="information-modal">
              Na and CL are explosive and poisonous in nature but when they
              react together they form common salt which essential for cooking.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              onclick="changePage()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="tutModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-header">
              Tutorial For Reaction Game
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              onclick="reset()"
            >
              <p class="text-light">x</p>
            </button>
          </div>
          <div class="modal-body">
            <video src="/videos/tut.mp4" height="300" width="800" autoplay ></video>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              onclick="reset()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
      }
      </script>
      
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
    <script>
      var hintNum = 1;
      var headers = window.location.href.split("/");
      console.log(headers);
      var headerLength = headers.length;
      var reactionId = headers[headerLength - 2];
      var reactionType = headers[headerLength - 1];
      console.log(reactionType);
      var products;
      var totalcount;
      var hintOpen = false;
      let headinghtml = `
      <a href="/reaction-list/${reactionType}" style="text-decoration: none">
          <span class="text-light">
            <h1 class="p-3">${reactionType} Reaction</h1>
          </span>
          </a>
          `;

      $("#reaction-type-heading").html(headinghtml);
      function getReaction() {
        let queryData = {
          id: reactionId,
        };

        $.ajax({
          url: `/v1/reaction-id`,
          method: "get",
          async: false,
          data: queryData,
          success: (result, status, xhr) => {
            console.log(result);
            products = result.data[0].product;
            totalcount = result.data[0].count;
            let reactantData = result.data[0].reactant;
            let reactantDataLength = reactantData.length;
            console.log(document.getElementById("information-modal"));
            document.getElementById("information-modal").innerText =
              result.data[0].description;
            document.getElementById(
              "modal-header"
            ).innerText += ` ${result.data[0].name}`;
            console.log(reactantDataLength);

            let reactantOnehtml = "";
            let reactantTwohtml = "";
            let reactantThreehtml = "";

            for (let j = 0; j < reactantDataLength; j++) {
              if (j === 0) {
                let reactantOne = reactantData[0];
                let reactantOneLength = reactantOne.content.length;
                for (let i = 0; i < reactantOneLength; i++) {
                  reactantOnehtml += `
                          <p draggable="true" class="${reactantOne.content[i].atom}">
                            <img src="https://reaction-game-23hp.onrender.com/assets/${reactantOne.content[i].atom}.png" />
                          </p>
                          `;
                }
                $("#reactant-one").html(reactantOnehtml);
              } else if (j === 1) {
                let reactantTwo = reactantData[1];
                let reactantTwoLength = reactantTwo.content.length;
                for (let i = 0; i < reactantTwoLength; i++) {
                  reactantTwohtml += `
                <p draggable="true" class="${reactantTwo.content[i].atom}">
                  <img src="https://reaction-game-23hp.onrender.com/assets/${reactantTwo.content[i].atom}.png" />
                </p>
                `;
                }
                $("#reactant-two").html(reactantTwohtml);
              } else {
                let reactantThree = reactantData[2];
                let reactantThreeLength = reactantThree.content.length;
                for (let i = 0; i < reactantThreeLength; i++) {
                  reactantThreehtml += `
                <p draggable="true" class="${reactantThree.content[i].atom}">
                  <img src="https://reaction-game-23hp.onrender.com/assets/${reactantThree.content[i].atom}.png" />
                </p>
                `;
                }
                $("#reactant-three").html(reactantThreehtml);
              }
            }
            let productData = result.data[0].product;
            let productDataLength = productData.length;
            let producthtml = "";
            for (let i = 0; i < productDataLength; i++) {
              producthtml += `
                <div class="choice displacement-choice flex"></div>
                `;
            }
            $("#products-container").html(producthtml);
          },
          error: (e) => {
            console.log(e);
          },
        });
      }
      getReaction();
      var p = document.getElementsByTagName("p");
      for (var i of p) {
        i.addEventListener("dragstart", dragStart);
        i.addEventListener("dragend", dragEnd);
      }

      var choice = document.getElementsByClassName("choice");

      var dragItem = null;

      function dragStart() {
        dragItem = this;
        console.log(dragItem);
        setTimeout(() => (this.style.display = "none"), 0);
      }

      function dragEnd() {
        setTimeout(() => (this.style.display = "block"), 0);
        dragItem = null;
      }

      for (j of choice) {
        j.addEventListener("dragover", dragOver);
        j.addEventListener("dragenter", dragEnter);
        j.addEventListener("dragleave", dragLeave);
        j.addEventListener("drop", Drop);
      }

      function Drop() {
        this.append(dragItem);
      }

      function dragOver(e) {
        e.preventDefault();
        this.style.border = "2px dotted red";
      }

      function dragEnter(e) {
        e.preventDefault();
      }

      function dragLeave() {
        this.style.border = "none";
      }

      function check() {
        console.log(products);
        let choice = document.getElementsByClassName("choice");
        let choices = [];
        for (let i = 0; i < choice.length; i++) {
          choices.push(choice[i].children);
        }
        var reactant1 = choice[0].children;
        var reactant2 = choice[1].children;
        console.log(choice);
        let count = 0;
        try {
          for (let i = 0; i < products.length; i++) {
            var product = products[i].content;
            for (let j = 0; j < product.length; j++) {
              var atom = product[j];
              if (choices[i][j].className == atom.atom) {
                count++;
              }
            }
          }
          if (count == totalcount) {
            console.log("success");
            startConfetti();
            $("#myModal").modal("show");
          } else {
            console.log("error");
            errorMessage("Oops! Please try again.");
            var errorText = "Oops! Please try again.";
            var hintText =
              "The first Product is used heavily in cooking. The second product is used in the production of soap.";
            $("#error").html(errorText);
            $("#hint").html(hintText);
          }
        } catch (error) {
          errorMessage("Oops! Please try again.");
          console.log(error);
        }
        // try {
        //   if (
        //     (reactant1[0].className == "sodium" &&
        //       reactant1[1].className == "chlorine") ||
        //     (reactant1[0].className == "chlorine" &&
        //       reactant1[1].className == "sodium")
        //   ) {
        //     // console.log(true);

        //     if (reactant2.length == 3) {
        //       if (
        //         reactant2[1].className == "oxygen" &&
        //         reactant2[0].className == "hydrogen" &&
        //         reactant2[2].className == "hydrogen"
        //       ) {
        //         $("#myModal").modal("show");
        //       }
        //     } else {
        //       var errorText = "Oops! Please try again.";
        //       var hintText =
        //         "Hint: The Second Product covers over 71% of the earth.";
        //       errorMessage(errorText);
        //       hint(hintText);
        //     }
        //   } else {
        //     var errorText = "Incorrect please try again.";
        //     var hintText =
        //       "Hint: The first Product is used heavily in cooking.";
        //     errorMessage(errorText);
        //   }
        // } catch (error) {
        //   console.log(error);
        //   var errorText = "Incorrect please try again.";
        //   var hintText = "Hint: The first Product is used heavily in cooking.";
        //   errorMessage(errorText);
        // }
      }

      function checkDisplacement() {
        let choice = document.getElementsByClassName("choice");
        var reactant1 = choice[0].children;
        var reactant2 = choice[1].children;
        console.log(choice);
        try {
          if (
            reactant1[0].className == "potassium" &&
            reactant1[1].className == "oxygen" &&
            reactant1[2].className == "hydrogen"
          ) {
            if (
              reactant2[0].className == "hydrogen" &&
              reactant2[1].className == "hydrogen"
            ) {
              alert("Correct");
            } else {
              alert("Incorrect. Please try again.");
            }
          } else {
            alert("Incorrect please try again.");
          }
        } catch (error) {
          alert("Incorrect please try again.");
        }
      }

      function checkDecomposition() {
        let choice = document.getElementsByClassName("choice");
        var reactant1 = choice[0].children;
        var reactant2 = choice[1].children;
        console.log(choice);
        try {
          if (
            reactant1[0].className == "calcium" &&
            reactant1[1].className == "oxygen"
          ) {
            if (
              reactant2[1].className == "carbon" &&
              reactant2[0].className == "oxygen" &&
              reactant2[2].className == "oxygen"
            ) {
              alert("Correct");
            } else {
              alert("Incorrect. Please try again.");
            }
          } else {
            alert("Incorrect please try again.");
          }
        } catch (error) {
          alert("Incorrect please try again.");
        }
      }

      function reset() {
        location.reload();
      }

      function changePage() {
        window.location = `https://reaction-game-23hp.onrender.com/reaction-list/${reactionType}`;
      }

      function errorMessage(errorText) {
        console.log(errorText);
        var displayControl = document.getElementById("display-control");
        displayControl.style.display = "block";
        // var hint = document.getElementById("hint");
        // document.getElementById("hint-char").style.display = "none";
        var hint = document.getElementById("error-char"); //bulb hint
        var dialog = document.getElementById("dialog");
        var textHint = document.getElementById("text-hint");
        textHint.innerText = errorText;
        // hint.style.display = "block";
        // dialog.style.display = "block";
        setTimeout(() => {
          displayControl.style.display = "none";
          // hint.style.display = "none";
          // dialog.style.display = "none";
        }, 5000);
      }

      function hint(hintText) {
        // console.log("Reached here");
        var displayControl = document.getElementById("display-control");
        displayControl.style.display = "block";
        // var hint = document.getElementById("hint");
        // document.getElementById("error-char").style.display = "none";
        // var hint = document.getElementById("hint-char"); //bulb hint
        var dialog = document.getElementById("dialog");
        var textHint = document.getElementById("text-hint");
        textHint.innerHTML = hintText;
        // hint.style.display = "block";
        dialog.style.display = "block";
        setTimeout(() => {
          console.log("here");
          displayControl.style.display = "none";
          // hint.style.display = "none";
          dialog.style.display = "none";
        }, 10000);
      }
      const getTutorial = () => {
        $("#tutModal").modal("show");
      }
      let getHintById = () => {
        let queryData = {
          id: reactionId,
        };
        $.ajax({
          url: `/v1/hint`,
          method: "get",
          async: false,
          data: queryData,
          success: (result, status, xhr) => {
            console.log(hintNum);
            if (hintNum == 1) {
              // console.log(result.data[0].hint1);
              hint(result.data[0].hint1);
              hintOpen = true;
              hintNum++;
            } else {
              hintNum = 1;
              hint(result.data[0].hint2);
            }
          },
          error: (e) => {
            console.log(e);
          },
        });
      };

      // getHintById();
    </script>
    <script>
function startConfetti() {
  // Globals
  var random = Math.random
    , cos = Math.cos
    , sin = Math.sin
    , PI = Math.PI
    , PI2 = PI * 2
    , timer = undefined
    , frame = undefined
    , confetti = [];

  var particles = 10
    , spread = 40
    , sizeMin = 3
    , sizeMax = 12 - sizeMin
    , eccentricity = 10
    , deviation = 100
    , dxThetaMin = -.1
    , dxThetaMax = -dxThetaMin - dxThetaMin
    , dyMin = .13
    , dyMax = .18
    , dThetaMin = .4
    , dThetaMax = .7 - dThetaMin;

  var colorThemes = [
    function() {
      return color(200 * random()|0, 200 * random()|0, 200 * random()|0);
    }, function() {
      var black = 200 * random()|0; return color(200, black, black);
    }, function() {
      var black = 200 * random()|0; return color(black, 200, black);
    }, function() {
      var black = 200 * random()|0; return color(black, black, 200);
    }, function() {
      return color(200, 100, 200 * random()|0);
    }, function() {
      return color(200 * random()|0, 200, 200);
    }, function() {
      var black = 256 * random()|0; return color(black, black, black);
    }, function() {
      return colorThemes[random() < .5 ? 1 : 2]();
    }, function() {
      return colorThemes[random() < .5 ? 3 : 5]();
    }, function() {
      return colorThemes[random() < .5 ? 2 : 4]();
    }
  ];
  function color(r, g, b) {
    return 'rgb(' + r + ',' + g + ',' + b + ')';
  }

  // Cosine interpolation
  function interpolation(a, b, t) {
    return (1-cos(PI*t))/2 * (b-a) + a;
  }

  // Create a 1D Maximal Poisson Disc over [0, 1]
  var radius = 1/eccentricity, radius2 = radius+radius;
  function createPoisson() {
    // domain is the set of points which are still available to pick from
    // D = union{ [d_i, d_i+1] | i is even }
    var domain = [radius, 1-radius], measure = 1-radius2, spline = [0, 1];
    while (measure) {
      var dart = measure * random(), i, l, interval, a, b, c, d;

      // Find where dart lies
      for (i = 0, l = domain.length, measure = 0; i < l; i += 2) {
        a = domain[i], b = domain[i+1], interval = b-a;
        if (dart < measure+interval) {
          spline.push(dart += a-measure);
          break;
        }
        measure += interval;
      }
      c = dart-radius, d = dart+radius;

      // Update the domain
      for (i = domain.length-1; i > 0; i -= 2) {
        l = i-1, a = domain[l], b = domain[i];
        // c---d          c---d  Do nothing
        //   c-----d  c-----d    Move interior
        //   c--------------d    Delete interval
        //         c--d          Split interval
        //       a------b
        if (a >= c && a < d)
          if (b > d) domain[l] = d; // Move interior (Left case)
          else domain.splice(l, 2); // Delete interval
        else if (a < c && b > c)
          if (b <= d) domain[i] = c; // Move interior (Right case)
          else domain.splice(i, 0, c, d); // Split interval
      }

      // Re-measure the domain
      for (i = 0, l = domain.length, measure = 0; i < l; i += 2)
        measure += domain[i+1]-domain[i];
    }

    return spline.sort();
  }

  // Create the overarching container
  var container = document.createElement('div');
  container.style.position = 'fixed';
  container.style.top      = '0';
  container.style.left     = '0';
  container.style.width    = '100%';
  container.style.height   = '0';
  container.style.overflow = 'visible';
  container.style.zIndex   = '9999';

  // Confetto constructor
  function Confetto(theme) {
    this.frame = 0;
    this.outer = document.createElement('div');
    this.inner = document.createElement('div');
    this.outer.appendChild(this.inner);

    var outerStyle = this.outer.style, innerStyle = this.inner.style;
    outerStyle.position = 'absolute';
    outerStyle.width  = (sizeMin + sizeMax * random()) + 'px';
    outerStyle.height = (sizeMin + sizeMax * random()) + 'px';
    innerStyle.width  = '100%';
    innerStyle.height = '100%';
    innerStyle.backgroundColor = theme();

    outerStyle.perspective = '50px';
    outerStyle.transform = 'rotate(' + (360 * random()) + 'deg)';
    this.axis = 'rotate3D(' +
      cos(360 * random()) + ',' +
      cos(360 * random()) + ',0,';
    this.theta = 360 * random();
    this.dTheta = dThetaMin + dThetaMax * random();
    innerStyle.transform = this.axis + this.theta + 'deg)';

    this.x = window.innerWidth * random();
    this.y = -deviation;
    this.dx = sin(dxThetaMin + dxThetaMax * random());
    this.dy = dyMin + dyMax * random();
    outerStyle.left = this.x + 'px';
    outerStyle.top  = this.y + 'px';

    // Create the periodic spline
    this.splineX = createPoisson();
    this.splineY = [];
    for (var i = 1, l = this.splineX.length-1; i < l; ++i)
      this.splineY[i] = deviation * random();
    this.splineY[0] = this.splineY[l] = deviation * random();

    this.update = function(height, delta) {
      this.frame += delta;
      this.x += this.dx * delta;
      this.y += this.dy * delta;
      this.theta += this.dTheta * delta;

      // Compute spline and convert to polar
      var phi = this.frame % 7777 / 7777, i = 0, j = 1;
      while (phi >= this.splineX[j]) i = j++;
      var rho = interpolation(
        this.splineY[i],
        this.splineY[j],
        (phi-this.splineX[i]) / (this.splineX[j]-this.splineX[i])
      );
      phi *= PI2;

      outerStyle.left = this.x + rho * cos(phi) + 'px';
      outerStyle.top  = this.y + rho * sin(phi) + 'px';
      innerStyle.transform = this.axis + this.theta + 'deg)';
      return this.y > height+deviation;
    };
  }

  function poof() {
    if (!frame) {
      // Append the container
      document.body.appendChild(container);

      // Add confetti
      var theme = colorThemes[0]
        , count = 0;
      (function addConfetto() {
        var confetto = new Confetto(theme);
        confetti.push(confetto);
        container.appendChild(confetto.outer);
        timer = setTimeout(addConfetto, spread * random());
      })(0);

      // Start the loop
      var prev = undefined;
      requestAnimationFrame(function loop(timestamp) {
        var delta = prev ? timestamp - prev : 0;
        prev = timestamp;
        var height = window.innerHeight;

        for (var i = confetti.length-1; i >= 0; --i) {
          if (confetti[i].update(height, delta)) {
            container.removeChild(confetti[i].outer);
            confetti.splice(i, 1);
          }
        }

        if (timer || confetti.length)
          return frame = requestAnimationFrame(loop);

        // Cleanup
        document.body.removeChild(container);
        frame = undefined;
      });
    }
  }

  poof();
};

    </script>
  </body>
</html>
